env/docker/storage
src/vendor
docker-compose.yml
docker-compose-development.yml
makefile
readme.md
.gitignore
codebuild
codedeploy
iac
jenkinspipelines
scripts
src/README.md
src/vendor
src/.env
src/.gitignore
src/.gitattributes
src/.DS_Store
src/.editorconfig
src/.styleci.yml